
<div class="container-fluid">
    
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-5">
                    <h1>Eat Da Burger! </h1>
                    <hr>
                    <br>
                    <h2> Place your order</h2><br>
                
                    <form class="create-form">

                        <div class="input-group">
                            
                            <input class="form-control" type="input" placeholder="Burger Type" id="nb" >
                            <span class="input-group-addon"><button type="submit" class="btn">ORDER</button></span>
                        </div>

                    </form> 
                </div> <br>  
                <div class="col-sm-2">
                    

                </div> 
                <div class="col-sm-5" id="imgid">
                    <img src="../public/assets/img/burgerspic.png" alt="burgerspic" style="height: 200px;width:400px;">
                </div>
            </div> 
        </div>        

        
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="order"><strong>Order Your Burger</strong>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="btn btn-outline-success eatB" id="eatbtn" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">EAT</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="done"><strong>Burger is Ready for Pick Up</strong>
                    <p>Remove order when done EATING</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class=" btn btn-outline-danger trash" id="deletebtn" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Delete</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
</div>